@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:wght@400;700;900&family=Rubik:wght@400;900&family=Ubuntu:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
     --main-color:rgb(51, 51, 51);
     --accent-color: rgb(123, 181, 124);
     --additional-color: white;
     scroll-behavior: smooth;
     color: var(--main-color);
     font-family: 'Poppins';
}
body {
     margin: auto;
     max-width: 1020px;
}
li{
    list-style-type: none;
    margin: auto;
}
a{
     text-decoration: none;
}
h2{
    font-size: 5rem;
    line-height: 1em;
    
    
}
span{
    color: var(--accent-color);
}

/*//////////////////////////Default Selectors/////////////////////////////
////////////////////////////Header Navigation///////////////////////////////////////////*/
.other-nav{
   display: grid;

}
.social-list{
    display: flex; 
     
}
.language-list{
    display: flex;
    font-family: 'Poppins';
    text-transform: uppercase; 
    margin: auto;
}
nav {
     margin: auto;
     max-width: 1020px;
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: space-around;
     background-color: var(--additional-color);

     filter: opacity(85%);
}
.logo{
     font-family: 'Pompiere', cursive;
     font-size: 2.8rem;
}
.social-list-icon{
     height: 20px;
     width: 20px;
     
     
}
.menu-list{
    flex-wrap: wrap;
    display: flex;
    flex: 0.8;
}
.menu,.goods-button{
     color: var(--main-color);
     font-family:'Poppins' ;
     font-size: 1.2rem;
}
.menu:hover{
     color: var(--accent-color);  
}
.language-list-type,.social-list-type{
     margin: auto 10px auto 10px; 
}
.social-list-type{
   
    margin-right: 15px;
    margin-left: 15px;
}

.social-list-type1{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--accent-color);
    border-radius: 15%;
}
.social-list-type1:hover{
    background-color: var(--additional-color);
}
.social-list-icon2{
    
     height: 25px;
     width: 25px;
}
.goods-button{
    color: var(--additional-color);
}
.menu-button{
     display: flex;
     height: 50px;
     border-radius: 10%;
     align-items: center;
     background-color: var(--main-color) ;    
}
.menu-button:hover{
     background-color: var(--accent-color) ;
}
/*//////////////////////////Header Navigation/////////////////////////////
/////////////////////////////Header INTRO//////////////////////////////////////////*/
.intro-page{
    padding: 15% 0 5% 5%;
}
.container{
    background-size: cover;
    background-image: url(../img/1pagebackground.jpg) ;
}
.intro-subtitle{
    padding: 5% 0 5% 0;
    color: var(--additional-color);
}

.intro-link{
    
     background-color: var(--main-color);
      background-size: cover;
      border-radius: 10%;
      color: var(--additional-color);
      
}
.intro-link:hover{
    background-color: var(--accent-color);
}
